@import url("https://fonts.googleapis.com/css?family=Tangerine");
body {
  background-color: gray;
}
#currentTime {
  font-size: 48px;
  text-align: center;
  font-family: 'Tangerine', serif;
  font-weight: 300;
  color: black;
  margin: 20px auto;
}